version: "3.8"

services:
  database:
    image: postgres:12.4
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - /var/lib/postgresql/data
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - database
    environment:
      - DB_HOST=database
    volumes:
      - ./:/app
    ports:
      - "4000:4000"
      - "3000:3000"
    # Don't run as root, so that generated files have the correct user
    user: ${UID:-1000}:${GID:-1000}
