name: Test
on:
  pull_request:
  push:
    branches:
      - master
      - prod
jobs:
  test_client:
    name: Client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install npm dependencies
        run: npm ci
      - name: Check formatting
        run: npm run format-check
      - name: Run tests
        run: npm test
  test_server:
    name: Server
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server
    services:
      postgres:
        image: postgres:12.4
        ports: ['5432:5432']
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Install Erlang & Elixir
        uses: actions/setup-elixir@v1
        with:
          otp-version: '23.0'
          elixir-version: '1.10.4'
          # See https://github.com/actions/setup-elixir/issues/49
          experimental-otp: true
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install wkhtmltopdf
      - name: Install mix dependencies
        run: mix deps.get
      - name: Check formatting
        run: mix format --check-formatted
      - name: Check warnings
        run: mix compile --warnings-as-errors
      - name: Run tests
        run: mix test
